body{
    background: #333;
    color: white;
    padding: 0 64px;
}
a{
    color: white;
    text-decoration: none;
    
}
ul{
    /* float: right; */
    display: inline-flex;
        gap:20px;
    
}
ul> li {
  list-style: none;
  /* margin-left: 20px; */
}
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid orange;
    
}
ul >li> a:hover{
  background: #55883B;
  padding: 12px;

}