.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* column-gap: 20px; */
    gap: 30px;
    /* row-gap:40px; */
    /* gap: 23px 10px;  */
}
.item{
    background: orange;
    height: 300px;
}

/** responsiveness on ipad and tablet */
@media(max-width:768px){
    .container {
        gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}
/** responsiveness on smartphones */
@media(max-width:640px){
    .container {
        grid-template-columns: 1fr;
    }
}
